<form class="card p-2">
  <div class="input-group">
    <input type="search" class="form-control" placeholder="Buscar" [formControl]="searchField">
  </div>
</form>
<hr/>

<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>

<ul class="list-group mb-3">

  <li class="list-group-item" *ngFor="let track of results | async">
    <div class="media lh-condensed">
      <img class="align-self-start mr-3" src="{{track.thumbnail}}" alt="Generic placeholder image">
      <div class="media-body">
        <a target="_blank" class="badge badge-light wrap" href="{{track.link}}">{{track.track}}</a>
      </div>
    </div>
  </li>
</ul>